:root {
	/* #### Text */

	--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--Soft-red: hsl(14, 88%, 65%);

	/* #### Gradient */

	/* Background gradient: */

	--Soft-violet: hsl(273, 75%, 66%);
	--Soft-blue: hsl(240, 73%, 65%);

	/* ### Neutral */

	/* #### Text */

	--Very-dark-grayish-blue: hsl(237, 12%, 33%);
	--Dark-grayish-blue: hsl(240, 6%, 50%);

	/* #### Dividers */

	--Light-grayish-blue: hsl(240, 5%, 91%);
}

@font-face {
	font-family: bold;
	src: url(../../assets/fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf);
}

@font-face {
	font-family: light;
	src: url(../../assets/fonts/Kumbh_Sans/static/KumbhSans-Light.ttf);
}

@font-face {
	font-family: regular;
	src: url(../../assets/fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf);
}


main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue));
	margin: -8px;
}